<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://stackoverflow.com</string>
	<string>http://meetmaestro.com</string>
	<string>http://arstechnica.com</string>
	<string>http://www.cnn.com</string>
</array>
</plist>
